- tweets.each do |tweet|
  .card.mb-3
    .card-body
      %h5.card-title
        .row
          .col-auto.mr-auto= link_to tweet.user.name, tweet.user
          .col-auto
            - if tweet.user == current_user
              = link_to '削除', tweet, method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: '削除してもいいですか？' }
      %p.card-text= raw h(tweet.body).gsub(/\R/, '<br>')
      %p.card-text
        %small.text-muted
          = tweet.created_at.strftime('%Y/%m/%d %H:%M')
    .card-footer.border-second.bg-transparent
      .row
        .col{class: "tweet-#{tweet.id}-likes-count"}
          = render partial: 'likes_count', locals: { tweet: tweet }
      .row
        .col.d-flex.justify-content-start
          %div.mr-2{class: "tweet-#{tweet.id}-like"}
            = render partial: 'like_button', locals: { tweet: tweet }
          = link_to tweet_comments_path(tweet), class: 'btn btn-outline-primary btn-sm', remote: true do
            %i.far.fa-comment
            コメント