%h1 新規投稿
= simple_form_for @tweet do |form|
  = form.error_notification
  = form.input :body, as: :text, label: false
  = form.input :image, as: :file, label: false, input_html: { accept: ".jpg, .jpeg, .png, .gif" }
  = form.button :submit, '投稿する', class: 'btn-outline-primary'
  = link_to '戻る', root_path, class: 'btn btn-outline-secondary'
