!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ミニブログ1
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{style: 'padding-top: 5rem;'}
    - if user_signed_in?
      %nav.navbar.navbar-expand.navbar-dark.fixed-top.bg-dark
        .container
          = link_to 'ミニブログ', root_path, class: 'navbar-brand'
          .collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item.dropdown
                %a#usermenu.nav-link.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}} メニュー
                .dropdown-menu.dropdown-menu-right{aria: {labelledby: 'usermenu'}}
                  = link_to 'アカウント設定', edit_user_registration_path, class: 'dropdown-item'
                  = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item'
    .container
      .row
        .col
          - flash.each do |key, value|
            - type = key == 'notice' ? 'info' : 'danger'
            %div{class: "alert alert-#{type}"}
              = value
              %button.close{type: 'button', data: {dismiss: 'alert'}, aria: {label: 'Close'}}
                %span{aria: {hidden: 'true'}} &times;
          = yield
